@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}


body {
    min-width: fit-content;
}

h1 {
    font-size:36px;
    font-weight: bold;
    font-style: italic;
}


h2 {
    font-size:20px;
    color:#282828;
    font-weight: lighter;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.name-text {
    font-size:16px;
    color:#7c7c7c;
    font-weight: bold;
}

.introduce-code {
    background-color: rgb(215, 215, 214);
    font-size:12px;
    line-height: 16px;
}

.introduce-descrition {
    word-wrap: break-word;
    font-size:12px;
}

.mainbox {
    width: 680px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.aboutme-list { 
    padding-left: 30px;
}

.title-box {
    text-align: right;
}

section {
    margin-bottom:24px;
}

.desc-text {
    font-size: 9px;
}

.desc-subtext {
    font-size: 9px;
    color:#282828;
    padding-left:16px;
}

.sns-img {
    width:12px;
    height:12px;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 20px gray;
    overflow: hidden;
    
    position: relative;
    margin: 30px;

    transition: 0.3s
}

.card-banner img {
    position: absolute;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-body {
    margin: 240px 15px 15px 15px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover {
    transform: translateY(-10px);
}